@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .skills {
    column-gap: 3em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #resume-aside {
    padding: 2em 1.5em;
  }

  #resume-main {
    padding-bottom: 2em;
  }
}

@media only screen and (max-width: 767px) {
  .page {
    padding: 2.5em 3em;
  }

  #resume-aside {
    background-color: white;
  }

  #resume-main .avatar-wrapper {
    display: block;
  }

  #resume-aside .avatar-wrapper {
    display: none;
  }

  #resume-aside section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 0.7em;
    padding: 0;
  }

  #resume-aside section li {
    margin-bottom: 0;
    padding: 5px 10px;
    background: #eaf0f7;
    border-radius: 5px;
    text-align: center;
    min-width: auto;
  }

  #resume-aside section li::before {
    display: none;
  }

  .intro {
    text-align: center;
  }
}

@media only screen and (max-width: 510px) {
  .page {
    padding: 1em 0 2em;
  }

  .name {
    font-size: 2rem;
  }
}
